.markdown-docs h1{
    color: #737887;
    font-size: 1.5rem;
}
.markdown-docs h2{
    font-size: large;
    font-size: 1rem;
    color: #737887;
}
.markdown-docs p,
.markdown-docs ul,
.markdown-docs pre {
  all: unset; /* Resetea todos los estilos heredados si lo necesitas */
  display: block;
  margin: 1rem 0;
  font-family: "Montserrat", serif;
}

.markdown-docs ul {
  padding-left: 5rem;
  list-style-type: disc;
}

.markdown-docs code {
  font-family: monospace;
  background: #f1f1f1;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}
.title-markdown {
    color: black;
    font-weight: 400;
    padding: 6px;
    border-radius: 8%;
}

.title-markdown:hover {
    background-color: var(--smoke-color);
}


#navTree ul {
    list-style: none;
    padding-left: 0;
}

/* #navTree {
    background-color: var(--smoke-color);
    border-radius: 2%;
} */

.markdown-docs::-webkit-scrollbar {
    width: 6px;
}
  
  .markdown-docs::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}